.checkIconWrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.checkBox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkBox + label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--clr-gradient);
  margin-right: 0.5rem;
  user-select: none;
  cursor: pointer;
  position: relative;
  transition: var(--transition);
}

.checkBox + label::before {
  content: '';
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
  background-color:var(--clr-ui);
  position: absolute;
  transition: var(--transition);
}

.checkBox + label::after {
  content: '';
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 50%;
  background-color: var(--clr-bg-ui);
  position: absolute;
  transition: var(--transition);
}

.checkBox:checked + label::before {
  background-color: transparent;
}

.checkBox:checked + label::after {
  background-color: transparent;
}

.checkBox:not(:disabled):not(:checked) + label:hover::before {
  background-color: transparent;
}

.checkBox:focus:not(:checked)+label::before {
  background-color: transparent;
}
