.wrapper {
  position: relative;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--clr-white);
  line-height: 0;
  background: var(--clr-gradient);
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
}

.userAvatarTooltip {
  position: absolute;
  right: 0;
  top: 130%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 10rem;
  background-color: var(--clr-bg-ui);
  border-radius: var(--radius);
  padding: 1rem;
  z-index: 2;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.userAvatarTooltip[data-is-active='false'] {
  display: none;
}

.tooltipHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-gradient);
  margin: -1rem -1rem 0.5rem;
  padding: 0.5rem;
}

.tooltipTitle {
  font-weight: var(--fw-bold);
}

.tooltipIconWrapper {
  line-height: 0;
  cursor: pointer;
}

.tooltipText {
  margin: 0;
  padding-bottom: 0.75rem;
  white-space: nowrap;
}

.tooltipBtn {
  align-self: center;
  padding: 0 0.5rem;
  font-family: var(--family);
  font-size: var(--fs-sm);
  line-height: 2;
  color: var(--clr-text);
  background: var(--clr-bg-ui);
  border-radius: var(--radius-input);
  border: 2px solid var(--clr-ui-hover);
  cursor: pointer;
  transition: var(--transition);
  position: relative;
  z-index: 1;
  outline: none;
}

.tooltipBtn::after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  right: 0;
  top: -2px;
  bottom: 0;
  background: var(--clr-gradient);
  border-radius: var(--radius-input);
  z-index: -1;
  transform: scale(0);
  transition: var(--transition) ease-in;
}

.tooltipBtn:hover,
.tooltipBtn:focus {
  color: var(--clr-white);
}

.tooltipBtn:hover::after,
.tooltipBtn:focus::after {
  transform: scale(1);
}
