.App[data-theme-type='light'] {
  --clr-text: var(--clr-gray-blue-400);
  --clr-bg: var(--clr-gray-blue-100);
  --clr-bg-ui: var(--clr-white);
  --clr-ui: var(--clr-gray-blue-200);
  --clr-ui-hover: var(--clr-blue-300);
  --bg-img-src-desktop: url('./images/bg-desktop-light.jpg');
  --bg-pos-x-desktop: center;
  --bg-img-src-mobile: url('./images/bg-mobile-light.jpg');
}

.App[data-theme-type='dark'] {
  --clr-text: var(--clr-gray-blue-200);
  --clr-bg: var(--clr-blue-800);
  --clr-bg-ui: var(--clr-blue-500);
  --clr-ui: var(--clr-gray-blue-400);
  --clr-ui-hover: var(--clr-gray-blue-300);
  --bg-img-src-desktop: url('./images/bg-desktop-dark.jpg');
  --bg-pos-x-desktop: left;
  --bg-img-src-mobile: url('./images/bg-mobile-dark.jpg');
}

.App {
  margin: 0;
  font-family: var(--family);
  font-size: var(--fs-md);
  color: var(--clr-text);
  background-color: var(--clr-bg);
  background-image: var(--bg-img-src-mobile);
  background-repeat: no-repeat;
  background-position-x: var(--bg-pos-x-desktop);
  background-size: auto;
}

.appContainer {
  min-height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0 1.5rem;
}

.headerTitle {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: #ffffff;
  line-height: 0;
  letter-spacing: 1rem;
  margin: 0;
}

.controlsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--clr-white);
  line-height: 0;
  background: var(--clr-gradient);
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
}

@media (min-width: 376px) {
  .App {
    background-image: var(--bg-img-src-desktop);
  }
  .appContainer {
    padding: 0 2rem;
  }
  .header {
    padding: 4rem 0 2rem;
  }
}

@media (min-width: 1441px) {
  .App {
    background-image: var(--bg-img-src-desktop);
    background-size: contain;
  }
}
