@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* typography */
  --family: 'Josefin Sans', sans-serif;
  --fs-sx: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 22px;
  --fs-xxl: 42px;
  --fw-normal: 400;
  --fw-bold: 700;

  /* colors */
  --clr-white: hsl(0, 0%, 98%);

  --clr-blue: hsl(220, 98%, 61%);

  --clr-gray-blue-50: hsl(234, 39%, 85%);
  --clr-gray-blue-100: hsl(236, 33%, 92%);
  --clr-gray-blue-200: hsl(233, 11%, 84%);
  --clr-gray-blue-300: hsl(236, 9%, 61%);
  --clr-gray-blue-400: hsl(235, 19%, 35%);

  --clr-blue-300: hsl(234, 11%, 52%);
  --clr-blue-400: hsl(233, 14%, 35%);
  --clr-blue-500: hsl(237, 14%, 26%);
  --clr-blue-600: hsl(235, 24%, 19%);
  --clr-blue-800: hsl(235, 21%, 11%);

  --clr-gradient: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* other */
  --radius: 0.5rem;
  --radius-input: 0.25rem;
  --shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --transition: 0.2s;
  --custom-checkbox-size: 24px;
}

body {
  margin: 0;
}
